<h1>
  test4 component!
</h1>
<p>Character: {{ character }}</p>
<p>
  Home World is: {{ homeWorld }}
</p>
<button (click)="getHomeWorld()">Get Home World</button>
<br>
<hr>
<p>
  Residents:
</p>
<ul>
  <li *ngFor="let resident of residents">{{ resident.name }}</li>
</ul>
<button (click)="getResidents()">Get Residents</button>
<br>
<hr>
<p>
  Multiple Characters
</p>
<textarea style="width: 100%; height: 250px;">{{ multipleCharacters }}</textarea>
<button (click)="getMultipleCharacters()">Get Multiple Characters</button>
<br><br><br><br>